@use "../../../assets/styles/abstracts/variables" as vars;
@use "../../../assets/styles/abstracts/mixins" as mixin;

@mixin menu-item {
  display: grid;
  padding: 5%;
  cursor: pointer;
}

.Lnb {
  grid-area: LNB;
  height: 100%;
  background: vars.$primary-color;
  color: vars.$white-color;
  position: fixed;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Logo {
    height: 10%;
    @include mixin.flex-center;

    img {
      width: 70%;
      height: auto;
      margin: 0 5%;
    }
  }
}

.Menu {
  display: flex;
  flex-direction: column;

  .MenuItem {
    @include menu-item;
    .MenuTitle {
      display: flex;
      justify-content: space-between;
    }

    .SubMenu {
      display: grid;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.3s ease, opacity 0.3s ease;

      &.SubMenuOpen {
        max-height: 500px; // 충분히 큰 값으로 설정 (내용에 따라 조정)
        opacity: 1;
      }
    }

    .SubMenuItem {
      @include menu-item;
      text-decoration: none;
      color: vars.$white-color;
    }

    .arrow {
      width: 10%;
      height: auto;
      transform: rotate(-90deg);
      transition: all 0.3s ease;
    }

    .active {
      transform: rotate(0deg);
    }
  }
}
