@import '../../../styles/variables.scss';

//컨테이너
.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

//왼쪽부분
.title {
    position: relative;
    font-size: 20px; // 약간 작게 조정
    font-weight: $font-weight-bold;
    padding-left: 15px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 18px;
        background-color: $primary-color;
    }
}

// 오른쪽 영역
.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}