@use "../../assets/styles/abstracts/variables" as vars;

@mixin align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin circle-style($size, $top, $left) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.192),
    rgba(255, 255, 255, 0.123)
  );

  position: absolute;
  z-index: 0;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

.wrapper {
  @include align-center();
  gap: 4rem;
  background-image: vars.$gradient-color;

  width: 100vw;
  height: 100vh;

  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.login {
  @include align-center();
  gap: 3rem;

  background-color: white;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  height: 70%;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
}

.introWrapper {
  @include align-center();
  gap: 0.5rem;
  color: vars.$mid-color;
}

.logo {
  width: 70%;
  aspect-ratio: 4/1;
  background-image: url("../../assets/images/logo_color.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.inputWrapper {
  @include align-center;
  gap: 0.5rem;
  width: 55%;

  color: red;
}

.input {
  border: none;
  background-color: rgb(245, 245, 245);
  padding: 15px;

  &::placeholder {
    font-size: 120%;
    font-weight: 600;
    display: flex;
  }
}

.buttonWrapper {
  @include align-center();
  gap: 0.5rem;
  width: 100%;

  color: vars.$mid-color;
}

.circle1 {
  @include circle-style(
    vars.$circle-size-1,
    vars.$circle-top-1,
    vars.$circle-left-1
  );
}

.circle2 {
  @include circle-style(
    vars.$circle-size-2,
    vars.$circle-top-2,
    vars.$circle-left-2
  );
}
