@import '../../../styles/variables.scss'; 

//공통 스타일
.base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: $border-radius-base;
    font-weight: $font-weight-bold; // 700
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.65;
    }
}

//Variant - 버튼모양, 색상

.primary {
    background-color: $primary-color;
    color: white;
}

.secondary {
    background-color: $disabled-color;
    color: white;
}

.neutral {
    background-color: $background-component; // #ffffff
    color: $text-light;
    border-color: $border-primary;
}

.file {
    //file_select쪽
    background-color: #eee;
    border: 1px solid $text-primary;
    color: $text-primary;
    font-weight: $font-weight-normal;
}

.icon {
    background: transparent;
    padding: 0;
    border: none;
    
    &:focus,
    &:active {
        outline: none;
    }
}


//버튼 사이즈

.large {
    width: 120px;
    height: 44px;
    font-size: $font-size-base;
}

.medium {
    padding: 8px 15px;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
}

.small {
    padding: 8px;
    font-size: 14px;
    font-weight: $font-weight-normal;
}

.file_size {
    width: 79px;
    height: 44px;
    font-size: 14px;
}

//pagination버튼
.pagination_arrow {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;

  // 내부 이미지 크기 제어
    img {
        width: 23px;
        height: 23px;
        display: block;
    }
}