.searchWrapper {
    position: relative;
    width: 100%;
}

.searchButtonPosition {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    img {
        width: 20px;
        height: 20px;
        display: block;
        cursor: pointer;
    }
}