// NotoSansKR - Regular (400)
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400; 
    src: url('/src/fonts/notokr-regular.woff2') format('woff2'),
        url('/src/fonts/notokr-regular.woff') format('woff');
}

// NotoSansKR - Bold (700)
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700; 
    src: url('/src/fonts/notokr-bold.woff2') format('woff2'),
        url('/src/fonts/notokr-bold.woff') format('woff');
}

// 필요하다면 다른 굵기도 추가
// NotoSansKR - Medium (500)
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: url('/src/fonts/notokr-medium.woff2') format('woff2'),
        url('/src/fonts//notokr-medium.woff') format('woff');
}