/* 헤더, lnb, list, table, alert, popup 등 레이아웃전ㅇ용 */
@import '../styles/variables.scss';

.layoutContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.contentWrapper {
    flex-grow: 1; //LNB를 제외한 나머지 공간을 모두 차지
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContent {
    flex-grow: 1;
    padding: 40px;
    background-color: $background-main;
    overflow-y: auto; //내용이 길어지면 lnb를 제외하고 스크롤
}
.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-panel {
    width: 100%;
    background-color: $background-component;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.page-main-title {
    position: relative;
    font-size: 30px;
    font-weight:500;
    padding-left: 20px;
    margin-bottom: 20px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px; 
        height: 80%;
        background-color: $text-primary;
    }
}