.home {
  display: flex;
  align-items: center;
  height: 80%;

  white-space: pre-wrap;

  background-image: url("../../assets/images/bg_main.png");
  background-size: 55%;
  background-position: 75% 50%;
  background-repeat: no-repeat;

  margin: 2rem;
}

.homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  position: absolute;
  top: 50%;
  transform: translate(130px, -80%);
}
