@use "../../assets/styles/abstracts/variables" as vars;

.button {
  width: 100px;
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  background-color: vars.$primary-color;
  color: white;
}

.primary {
  background-color: vars.$primary-color;
}

.disabled {
  background-color: gray;
}

.cancel {
  background-color: white;
  border: 1px solid gray;
  color: gray;
}
