@charset "UTF-8";

/*폰트*/

@font-face {
 font-family: "NotoSansKR";
 font-weight: 300;
 font-style: normal;
 src: url("../font/notokr-demilight.eot") format("embedded-opentype"), 
	  url("../font/notokr-demilight.ttf") format("truetype"), 
	  url("../font/notokr-demilight.woff") format("woff"), 
	  url("../font/notokr-demilight.woff2") format("woff2"), 
	  url("../font/notokr-demilight.svg") format("svg");
}

@font-face {
 font-family: "NotoSansKR";
 font-weight: 400;
 font-style: normal;
 src: url("../font/notokr-regular.eot") format("embedded-opentype"), 
	  url("../font/notokr-regular.ttf") format("truetype"), 
	  url("../font/notokr-regular.woff") format("woff"), 
	  url("../font/notokr-regular.woff2") format("woff2"), 
	  url("../font/notokr-regular.svg") format("svg");
}

@font-face {
 font-family: "NotoSansKR";
 font-weight: 500;
 font-style: normal;
 src: url("../font/notokr-medium.eot") format("embedded-opentype"), 
	  url("../font/notokr-medium.ttf") format("truetype"), 
	  url("../font/notokr-medium.woff") format("woff"), 
	  url("../font/notokr-medium.woff2") format("woff2"), 
	  url("../font/notokr-medium.svg") format("svg");
}

@font-face {
 font-family: "NotoSansKR";
 font-weight: 700;
 font-style: normal;
 src: url("../font/notokr-bold.eot") format("embedded-opentype"), 
	  url("../font/notokr-bold.ttf") format("truetype"), 
	  url("../font/notokr-bold.woff") format("woff"), 
	  url("../font/notokr-bold.woff2") format("woff2"), 
	  url("../font/notokr-bold.svg") format("svg");
}

@font-face {
 font-family: "NotoSansKR";
 font-weight: 900;
 font-style: normal;
 src: url("../font/notokr-black.eot") format("embedded-opentype"), 
	  url("../font/notokr-black.ttf") format("truetype"), 
	  url("../font/notokr-black.woff") format("woff"), 
	  url("../font/notokr-black.woff2") format("woff2"), 
	  url("../font/notokr-black.svg") format("svg");
}


* { margin:0; padding:0; box-sizing:border-box; -webkit-overflow-scrolling:touch; color:#252525; font-weight:400; }

body,
div,
p,
span,
ul, 
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
select,
textarea,
a,
button,
i,
em,
address { 
	box-sizing:border-box;
	color:#252525;
	font-family:'NotoSansKR'; 
	font-style:normal;
	font-weight:400;
	font-size:16px;
	list-style:none;
	margin:0;
	position:relative;
	padding:0;
	word-break:keep-all;
	word-wrap:break-word;
}
/* reset */
html, body { height:100%; }
a { text-decoration:none; color:#000; display:inline-block; width:100%; height:100%; }
ul, ol { list-style:none; }
/* div::after, ul::after, ol::after { content:''; display:block; clear:both; } */
button { border:0; outline:0; cursor:pointer; }
input, select, textarea { border:1px solid #E3E5EB; border-radius:5px; color:#666; font-weight:600; background:#fff; }
input[type="text"], select, input[type="tel"], input[type="number"], input[type="date"], input[type="password"] { padding:8px 20px; width:400px; }
input[type="file"] { border:0; }
input:disabled { background:#fafafa; }
textarea { width:100%; resize:none; padding:10px; }

div.clear::after, ul.clear::after, ol.clear::after { content:''; display:block; clear:both; }
/*
select { padding:0 10px 0 5px;  background:url("../img/common/icon_arrow.png") no-repeat 85% center; background-size:18%; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select::-ms-expand { display: none; }

select::after { content:''; border:1px solid red; position:absolute; width:30px; height:30px; background:url("../img/icon_arrow.png") center center no-repeat;  }
select::-ms-expand { display: none; }
/*select { height:28px; background:transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding:0px 25px 0 5px; cursor:pointer; background:#fff; }
*/



