.menuRow {
    > td {
        padding: 8px 10px;
        vertical-align: middle;
        border-right: 1px solid #D5D5D5; 
        border-bottom: 1px solid #D5D5D5;
    }
}

.noBorderRight {
    border-right: none;
}

.radioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}