@use "../../../assets/styles/abstracts/variables" as vars;

@mixin input {
  width: 90%;
  height: auto;
  display: flex;
  padding: 0.3%;
  border: vars.$border;
  border-radius: 5px;
  padding: 1%;
}

.textInput {
  @include input;
}

.contentInput {
  @include input;
}

.checkboxWrapper {
  display: flex;
  gap: 2rem;
}

.checkbox {
  display: flex;
}
