@import '../../../styles/variables.scss';

.tableWrapper {
    width: 30%; // 바꿔주기
    border: 1px solid $border-primary;
    border-radius: $border-radius-base;
    background-color: $background-component;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
}