@import '../../../styles/variables.scss';

/* .tableRow {
    행 자체에 대한 특별한 스타일이 있다면 여기에
} */

.labelCell { // th
    width: 18%; 
    padding: 12px 15px;
    text-align: center;
    font-weight: $font-weight-bold;
    background-color: $background-main;
    border-bottom: 1px solid $border-primary;
    border-right: 1px solid $border-primary;
}

.contentCell { // td
    padding: 12px 15px;
    border-bottom: 1px solid $border-primary;
}