@import '../../../styles/variables.scss';

.tableHeader {
    th {
        padding: 12px 15px;
        text-align: center;
        font-weight: $font-weight-bold;
        background-color: $background-main;
        border-bottom: 1px solid $border-primary;
        border-right: 1px solid $border-primary;

        &:last-child {
        border-right: none;
        }
    }
}