@import '../../../styles/variables.scss';

.dataRow {
    &:hover {
        background-color: lighten($background-main, 2%);
    }
}

// 모든 셀의 공통 스타일
.dataRow td {
    padding: 12px 15px;
    border-bottom: 1px solid $border-primary;
    border-right: 1px solid $border-primary;
    text-align: center;
    &:last-child{
        border-right: none;
    }
}

.cellCenter {
    text-align: center;
}