@import '../../../styles/variables.scss';

.labelCell { // th
    width: 18%; 
    padding: 12px 15px;
    text-align: center;
    font-weight: $font-weight-bold;
    background-color: $background-main;
    border-bottom: 1px solid $border-primary;
    border-right: 1px solid $border-primary;
}

.contentCell { // td
    padding: 12px 15px;
    border-bottom: 1px solid $border-primary;
}