$white-color: #fff;
$bright-color: #dedede;
$dark-color: #333;
$border: 1px solid $bright-color;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  text-align: right;
  background: $white-color;
  border-bottom: $border;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2%;
  box-sizing: border-box;

  strong {
    font-weight: 600;
    color: $dark-color;
  }
}

.userInfo {
  display: flex;
  gap: 1rem;
}

.imageWrapper {
  width: 3%;
  aspect-ratio: auto 1/1;
  border-radius: 100%;
  border: $border;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 90%;
    height: auto;
    display: block;
  }
}
