@use "../../../assets/styles/abstracts/variables" as vars;

.header {
  grid-area: header;
  width: 100%;
  background: vars.$white-color;
  border-bottom: vars.$border;

  display: flex;
  align-items: center;
  padding: vars.$padding;
  box-sizing: border-box;

  strong {
    font-weight: 600;
    color: vars.$dark-color;
  }
}

.userInfo {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: auto;
}

.imageWrapper {
  width: 3%;
  aspect-ratio: auto 1/1;
  border-radius: 100%;
  border: vars.$border;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    width: 80%;
    height: auto;
    display: block;
  }
}
